main {
    max-width: 95%;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    color: #013E3F;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.7em;
    font-style: oblique;
}
h2{
    color: #013E3F;
    border-bottom: 4px double #322014;
    padding-bottom: 5px;
}
.story-section{
    margin-bottom: 40px;
}

.story-section p {
    color: #322014;
    font-weight: 600;
    line-height: 1.8;
    font-size: 1.2em;
    text-align: justify;
}

.highlight {
    color: #F2521C;
    font-weight: 800;
}

@media(max-width:600px){
    main {        
        margin: 60px auto;    
        max-width: 92%;    
    }
}

@media(max-width:400px){
    main {        
        margin: 65px auto;    
        max-width: 90%;       
    }
}