main{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

section{
    text-align: center;
    padding: 30px 5px;
}

section h2 {
    font-size: 2em;
    color: #013E3F;
    margin-bottom: 15px;
    border-bottom: 2px solid #013E3F;
    padding-bottom: 5px;
    padding-top: 10px;
}
.special-dish{
    margin: 0px;
}
.special-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    
}
/* Top row: text + file input side by side */
.form-top{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    margin-left: 30%;
    align-items: center;
    
}
.special-form input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
}

/* Upload button aligned left under inputs */
.special-form button{
    align-self: flex-start;   /*push to left cornor*/
    margin-left: 30%;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.special-dish button:hover {
    background: hsl(181, 97%, 23%);
}

.special-preview {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
/* First row: prev, image, next */
.preview-row{
    display: flex;
    gap: 5px;
    align-items: center;
}

.special-preview img{
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    border-color: #013E3F;
    border-radius: 20px;
}

.special-preview p{
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #013E3F;
}

/*  ===== Tables ======== */
table{
    width: 100%;
    border-collapse: collapse;
    background: #F0E3DB;
    border-radius: 8px;
    overflow: scroll;
}

thead{
    background: #056A6A;
    color:#F0E3DB;
}

thead th, tbody td{
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #013E3F;
}

tbody tr:hover {
    background: hsl(23, 41%, 87%);
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}