/* Main */

main {
    min-height: calc(90vh - 100px); 
    /* Adjust 140px depending on your header + footer total height */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */
}

.container {
    display: flex;
    justify-content : space-between;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #013E3F;
}

.left, .right {
    width: 48%;
    background: #F0E3DB;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;   
    text-align:  center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.left h2{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.right h2{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: slide-left 5s ease infinite;
}



.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
    
}

.special-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

#special-img {
    transition: opacity 0.6s ease; /* fade speed */
    opacity: 1;
}


button {
    padding: 10px 20px;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn {
    display: block;
    width: 150px;
    margin: 30px auto;
    padding: 12px;
    text-align: center;
    background: #013E3F;
    color: #F0E3DB;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 0px;

    
}

.menu-btn:hover {
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn, button {
    transition: all 0.3s ease;
}

/* Animation Keyframes */
@keyframes slide-left {
    0% {
        transform: translateX(50%);   /* start outside right side*/
    }
    100% {
        transform: translateX(-50%); /*move commpletely to the left*/
    }
}


@media (max-width: 900px) {
    /* Adjust layout for tablets */
    .container{
        padding: 25px;
        gap: 1rem;
    }

    .left h2, .right h2 {
        font-size: 24px;
    }

    .logo{
        padding-top: 10px;
        width: 200px;
        height: 200px;
    }
    .special-img {
        margin-left: 20px;
        width: 250px;
        height: 200px;
    }

        /* Animation Keyframes */
    @keyframes slide-left {
        0% {
            transform: translateX(50%);   /* start outside right side*/
        }
        100% {
            transform: translateX(-10%); /*move commpletely to the left*/
        }
}
}

@media (max-width: 600px) {
    /* Adjust layout for large phones */
    main{
        padding-top: 4%;
        padding-bottom: 3%;
    }
    .container{
        flex-direction: column; /*stack left and right*/
        align-items: center;
        text-align: center;
    }
    .left, .right{
        width: 100%;
    }

    .logo{
        width: 180px;
        height: 180px;
    }

    .special-img {
        width: 60%;   /* shrink to fit */
        height: 200px;
    }

  
}

@media (max-width: 400px) {
    /* Adjust layout for small phones */
    main{
        padding-top: 6%;
        padding-bottom: 5%;
    }

    .left h2, .right h2{
        font-size: 20px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .special-img{
        width: 60%;
        height: 150px;
    }

    button, .menu-btn {
        
        font-size: 16px;
        padding: 10px;
    }
}