/* Tablet view (max-width: 900px) */

@media (max-width: 900px) {
    header nav a {
        font-size: 16px;
        margin-left: 10px;
        padding-right: 10px;

    }
    header nav {
        padding-right:  10px;
        margin-right: 10px;
        background: none;
    }

    footer span {
        text-align: center;
        width: 100%;
        display: block;
    }    

}

/* Mobile view */
@media (max-width: 600px) {
    /* HEADER */

    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px 0;
    }

    .logo-text {
        font-size: 22px;
        margin-bottom: 10px;
    }

    nav{
        display: flex;
        justify-content: center;
        gap: 15px;
        background: none;
    }

    nav a {
        font-size: 16px;
        padding: 5px 10px;
    }

    

    /* FOOTER */
    footer {
        text-align: center;
    }

    footer span {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 16px;
    }

    

    
    

}

/* Mobile view */
@media (max-width: 400px) {
    /* HEADER */

    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px 0;
        
        
    }

    .logo-text {
        font-size: 22px;
        margin-bottom: 10px;
    }

    nav{
        display: flex;
        justify-content: center;
        gap: 5px;
        background: none;
        
    }

    nav a {
        font-size: 14px;
        padding: 5px 3px;
    }

    

    /* FOOTER */
    footer {
        text-align: center;
    }

    footer span {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 16px;
    }

    

    
    

}