@import url("media-query.css");
html {
  scroll-behavior: smooth;
}


/* Index.html(Main) Page CSS */
body{
    margin: 0;
    font-family: Arial, "Noto Sans Myanmar", sans-serif;
    background: #F0E3DB;
}

/* Header Footer */
header, footer{
    background: #013E3F;
    color: #F0E3DB;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;   /* Keep header above other elements*/

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav {
    background: #013E3F;
}
header a, footer a {
    color: #F0E3DB;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    padding-right: 30px;
    font-size: 18px;
}

header a:hover, footer a:hover {
    color: hsl(23, 41%, 70%);
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.logo-text:hover{
    color: hsl(23, 41%, 70%);
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.logo-text .logo-img {
  height: 30px;   /* adjust size */
  margin-right: 10px; /* space between logo and text */
  border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}
main{
    
    min-height: calc(90vh - 100px); 
    /* Adjust 140px depending on your header + footer total height */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */

}
















