@import url("media-query.css");

/* Index.html(Main) Page CSS */
body{
    margin: 0;
    font-family: Arial, "Noto Sans Myanmar", sans-serif;
    background: #F0E3DB;
}

/* Header Footer */
header, footer{
    background: #013E3F;
    color: #F0E3DB;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;   /* Keep header above other elements*/

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav {
    background: #013E3F;
}
header a, footer a {
    color: #F0E3DB;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    padding-right: 30px;
    font-size: 18px;
}

header a:hover, footer a:hover {
    color: hsl(23, 41%, 70%);
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.logo-text:hover{
    color: hsl(23, 41%, 70%);
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.logo-text .logo-img {
  height: 30px;   /* adjust size */
  margin-right: 10px; /* space between logo and text */
  border-radius: 10px;
}
/* Main */

main {
    min-height: calc(90vh - 100px); 
    /* Adjust 140px depending on your header + footer total height */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */
}

.container {
    display: flex;
    justify-content : space-between;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #013E3F;
}

.left, .right {
    width: 48%;
    background: #F0E3DB;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;   
    text-align:  center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.left h2{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.right h2{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: slide-left 5s ease infinite;
}



.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
    
}

.special-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

#special-img {
    transition: opacity 0.6s ease; /* fade speed */
    opacity: 1;
}


button {
    padding: 10px 20px;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn {
    display: block;
    width: 150px;
    margin: 30px auto;
    padding: 12px;
    text-align: center;
    background: #013E3F;
    color: #F0E3DB;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 0px;

    
}

.menu-btn:hover {
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn, button {
    transition: all 0.3s ease;
}

/* Animation Keyframes */
@keyframes slide-left {
    0% {
        transform: translateX(50%);   /* start outside right side*/
    }
    100% {
        transform: translateX(-50%); /*move commpletely to the left*/
    }
}

/* Contact Page */
.container-email{
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    background: #F0E3DB;
    padding:  30px;
    padding-right: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.complain-email{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #013E3F;
    padding-bottom: 10px;
    color:#013E3F;
}

.complaint-file{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #013E3F;
    
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color:#013E3F;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid hsl(181, 97%, 25%);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #013E3F;
    outline: none;
    box-shadow: 0 0 5px rgba(1, 62, 63, 0.3);
} 
textarea {
    height: 300px;
    resize: none;
}

#send-button {
    align-self: center;
}

.contact-phone {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #013E3F;
}


/* menu.html css */

.category-menu {
    margin: 30px auto;
    width: 95%;
}

.category-menu h2 {
    margin-bottom: 15px;
    font-size:  28px;
    border-left: 10px solid #056A6A;
    padding-left: 10px;

}

.items-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.item-card {
    width: 95%;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    background: #F0E3DB;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.item-card img.item-image {
    width: 95%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.item-card button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.item-card h3 {
    font-size: 16px;
    margin: 0px 0;
    color:#013E3F;
    line-height: 1.1;   /* smaller = tighter line spacing */
}

.item-card p {
    color: #013E3F;
    margin: 3px 0 10px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 5px;
}
   /* menu.html Mohinga topping */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}


.model-content {
  background: #F0E3DB;
  color: #013E3F;
  padding: 25px;
  width: 300px;
  margin: 20px auto;
  text-align: left;
}

.model-content h2 {
    text-align: center;
}
.toppingbox{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    padding: 10px;
}

.topping-option {
  display: grid;
  grid-template-columns: 3fr 1fr;   /* 3 parts text, 1 part checkbox */
  align-items: center;              /* vertical center */
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.topping-option input[type="checkbox"] {
  justify-self: end;                /* align checkbox to right */
  align-items: center;
  justify-items: center;
  justify-content: center;
  transform: scale(1.3);            /* optional: larger checkbox */
}

.chk-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;          /* this centers the checkbox perfectly */
}

.chk-wrapper input[type="checkbox"] {
  transform: scale(1.3);            /* optional: enlarge checkbox */
}

.modal-buttons {
  display: flex;
  justify-content: center;   /* center horizontally */
  gap: 15px;                 /* space between buttons */
  margin-top: 20px;
}

      /* menu.html Order section */

#to-order{
    width: 95%;
    max-width: 1000px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:  Arial, "Noto Sans Myanmar", sans-serif;
}

#to-order h2{
    text-align: center;
    margin-bottom: 15px;
    color: #013E3F;
    font-size: 40px;
}

#order-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.order-row{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #F2521C;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    font-size: 18px;
    font-weight: bold;
    color: #013E3F;
}

.order-qty{
    display:flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
}

/* Quantity box */
.order-qty input {
    width: 50px;
    padding: 5px;
    text-align: left;
}

button.remove-btn {
    background-color: #056A6A;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.order-row-header{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 4px double #013E3F;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 25px;
    font-weight: bold;
}

.empty-order-message{
    display: block;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #013E3F;
    font-size: 25px;
    font-weight: bold;
}

/* Total section of menu.html */

.total-section {
     display: grid;
    grid-template-columns: 8fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 4px double #013E3F;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 20px;
    font-weight: bold;
}

.delivery-or-takeout {
    display: grid;
    grid-template-columns: 8fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px double #F2521C;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 20px;
    font-weight: bold;
}

    /* order now button */

.order-btnbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px auto;
}
.order-btn {
    display: block;
    text-align: right;
    background-color: #013E3F;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.order-btn:hover {
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}



/* order.html page */
#order-to-order{
    width: 95%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:  Arial, "Noto Sans Myanmar", sans-serif;
}

#order-to-order h2{
    text-align: center;
    margin-bottom: 15px;
    color: #013E3F;
    font-size: 40px;
}

#order-order-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.order-order-row{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #F2521C;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    font-size: 18px;
    font-weight: bold;
    color: #013E3F;
}

.order-order-qty{
    display:flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
}


.order-order-qty input {
    width: 50px;
    padding: 5px;
    text-align: left;
}

button.remove-btn {
    background-color: #056A6A;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.order-order-row-header{
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 4px double #013E3F;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 25px;
    font-weight: bold;
}

.order-empty-order-message{
    display: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #013E3F;
    font-size: 25px;
    font-weight: bold;
}



.order-total-section {
     display: grid;
    grid-template-columns: 8fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 4px double #013E3F;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 20px;
    font-weight: bold;
}

.delivery-or-takeout {
    display: grid;
    grid-template-columns: 8fr 2fr 40px; /* all equal */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px double #F2521C;
    width: 100%;
    box-sizing: border-box;
    justify-items: left;
    color: #013E3F;
    font-size: 20px;
    font-weight: bold;
}

.order-order-btnbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px auto;
}
.order-order-btn {
    display: block;
    text-align: right;
    background-color: #013E3F;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.order-order-btn:hover {
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}


/* Media query */

@media (max-width: 900px) {    

    /* menu.html responsive */
        main{
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 0;
        }
        
        .items-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin-bottom: 10px;
        }

        .item-card {
        width: 90%;
        height: 200px;
        padding: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        background: #F0E3DB;
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }    
        
        .item-card img.item-image {
        width: 95%;
        height: 90px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 8px;
        }

        .item-card button {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 5px 10px;
        background: #013E3F;
        color: #F0E3DB;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        }

        .item-card h3 {
        font-size: 13px;
        margin: 0px 0;
        color:#013E3F;
        line-height: 1.05;   /* smaller = tighter line spacing */
        }

        .item-card p {
        color: #013E3F;
        margin: 0px 0 0px;
        font-size: 11px;
        padding-bottom: 0px;
        padding-top: 0px;
        }   

        

        .order-row{
        display: grid;
        grid-template-columns: 5fr 1fr 2fr 2fr 40px; /* all equal */
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid #F2521C;
        width: 100%;
        box-sizing: border-box;
        justify-items: left;
        font-size: 15px;
        font-weight: bold;
        color: #013E3F;
        }   

       

        .order-row-header{        
        font-size: 22px;
        
        }

        .empty-order-message{        
        font-size: 22px;        
        }

        /* Total section of menu.html */

        .total-section  {        
        font-size: 15px; 
              
        }

        

        .order-btn {
        font-size: 17px;
        max-width: fit-content;
        }

        

        

}

@media (max-width: 600px) {    

    /* menu.html responsive */
        main{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 0;
        }
        .category-menu {
        margin: 30px auto;
        width: 95%;
        }

        
        .items-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        }
        .item-card {
        width: 95%;
        height: 180px;
        padding: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        background: #F0E3DB;
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        }

        .item-card img.item-image {
        width: 95%;
        height: 90px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 0px;
        }

        .item-card button {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px 10px;
        background: #013E3F;
        color: #F0E3DB;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
        }

        .item-card h3 {
        font-size: 12px;
        margin: 0px 0;
        color:#013E3F;
        line-height: 1.0;   /* smaller = tighter line spacing */
        padding: 0px;
        }

        .item-card p {
        color: #013E3F;
        margin: 0px 0 3px;
        font-size: 12px;
        padding-bottom: 0px;
        padding-top: 0px;
        }

        

}


