@import url("media-query.css");

/* Index.html(Main) Page CSS */
body{
    margin: 0;
    font-family: Arial, "Noto Sans Myanmar", sans-serif;
    background: #F0E3DB;
}

/* Header Footer */
header, footer{
    background: #013E3F;
    color: #F0E3DB;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;   /* Keep header above other elements*/

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav {
    background: #013E3F;
}
header a, footer a {
    color: #F0E3DB;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    padding-right: 30px;
    font-size: 18px;
}

header a:hover, footer a:hover {
    color: hsl(23, 41%, 70%);
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.logo-text{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.logo-text:hover{
    color: hsl(23, 41%, 70%);
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

/* Main */

main {
    min-height: calc(90vh - 100px); 
    /* Adjust 140px depending on your header + footer total height */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */
}

.container {
    display: flex;
    justify-content : space-between;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #013E3F;
}

.left, .right {
    width: 48%;
    background: #F0E3DB;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;   
    text-align:  center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.left h2{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.right h2{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: slide-left 5s ease infinite;
}



.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
    
}

.special-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

#special-img {
    transition: opacity 0.6s ease; /* fade speed */
    opacity: 1;
}


button {
    padding: 10px 20px;
    background: #013E3F;
    color: #F0E3DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn {
    display: block;
    width: 150px;
    margin: 30px auto;
    padding: 12px;
    text-align: center;
    background: #013E3F;
    color: #F0E3DB;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 0px;

    
}

.menu-btn:hover {
    color: hsl(23, 41%, 70%);
    transform: scale(1.1);
}

.menu-btn, button {
    transition: all 0.3s ease;
}

/* Animation Keyframes */
@keyframes slide-left {
    0% {
        transform: translateX(50%);   /* start outside right side*/
    }
    100% {
        transform: translateX(-50%); /*move commpletely to the left*/
    }
}

/* Contact Page */
.container-email{
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    background: #F0E3DB;
    padding:  30px;
    padding-right: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.complain-email{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #013E3F;
    padding-bottom: 10px;
    color:#013E3F;
}

.complaint-file{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #013E3F;
    
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color:#013E3F;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid hsl(181, 97%, 25%);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #013E3F;
    outline: none;
    box-shadow: 0 0 5px rgba(1, 62, 63, 0.3);
} 
textarea {
    height: 300px;
    resize: none;
}

#send-button {
    align-self: center;
}

.contact-phone {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #013E3F;
}

